body {
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    justify-content: center;
    
    
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: tan;
    
   
    
  }
  
  nav ul {
    color: green;
    display: flex;
    font-size: 25px;
    font-family: Source Code Pro;
    
  }
  
  nav li {
    font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
    
  }
  
  #banner_img {
    width: 100%;
    height: auto;
  
  }

  .table_img_container {
    display: flex;
    justify-content: center;

  }
  
  a {
    color: green;
    text-decoration: none;
  }
  
  h1, h2 {
    display: flex;
    justify-content: center;
    font-family: Source Code Pro;
  }
  
  h1 {
    font-size: 60px;
    font-family: Source Code Pro;
  }
  
  h2 {
    font-size: 40px;
    font-family: Source Code Pro;
  }
  
  #about {
    text-align: center;
    margin: 30px;;
    font-family: Source Code Pro;
  }
  
  #about h1{
    font-size: 40px;
  }
  
  #about ul {
    text-align: center;
    list-style-type: none;
    font-size: 30px;
  }
  
  #about li {
    font-size: 
  }
  
  #about p {
    font-size: 20px;
    text-align: center;
    font-family: Source Code Pro;
  }

  .about_img {
    display: flex;
    justify-content: center;
  }
  
  #contact {
    text-align: center;
    font-size: 20px;
    font-family: Source Code Pro;
    
  }
  
  .service {
    display: flex;
    justify-content: center;
    font-family: Source Code Pro;
  }
  h3 {
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 900px;
    font-size: 25px;
    background-color: tan;
  }
  
  #menu {
    text-align: center;
    background-color: tan;
    border: 2px solid black;
    margin: 1%;
    font-family: Source Code Pro;
    font-size: 30px;
    padding: 5px
    
    
  }
  
  .table_container {
    display: flex;
    justify-content: center;
  }
  
  table {
    border: 3px solid black;
    
    
  }
  
  thead {
    display
  }
  
  th, td {
    border: 1px solid black;
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
    font-family: Source Code Pro;
  }